@model IEnumerable<SPA.Models.Game>

@{
    ViewData["Title"] = "Index";
}


@*<<<<<< STYLE >>>>>>*@

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


@*<<<<<< SCRIPTS >>>>>>*@

<script defer src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script defer src="~/js/SPA.js"></script>
<script defer src="~/js/SPA.Data.js"></script>
<script defer src="~/js/SPA.model.js"></script>
<script defer src="~/js/SPA.Reversi.js"></script>
<script defer src="~/js/SPA.Feedback.js"></script>
<script defer src="~/js/json.js"></script>


@*<<<<<< HTML >>>>>>*@

<h1 class="text-light">Game lobby</h1>
<p>
    <a asp-action="Create" class="btn btn-dark" style="color: #01ff80">Start a new game</a>
</p>
<table class="table table-hover text-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerWhiteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerBlackId)
            </th>
            <th>
                Join
            </th>
            @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.GameToken)
                </th>
                <th>
                    Manage
                </th>

            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GameId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (item.Players.Count > 0)
                    {
                        @Html.DisplayFor(modelItem => item.Players[0].PlayerName)
                    }
                </td>
                <td>
                    @if (item.Players.Count > 1)
                    {
                        @Html.DisplayFor(modelItem => item.Players[1].PlayerName)
                    }
                </td>
                <td>
                    <a class="btn btn-dark btn-sm" style="color:#01ff80" asp-action="Current" asp-route-id="@item.GameId">Join</a>
                </td>
                @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.GameToken)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.GameId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.GameId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.GameId">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>